body {
  background-color: var(--stone-100);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 24px;
  max-width: 736px;
  width: 100%;
  padding: var(--space-500);
  gap: var(--space-400);
  margin-block: var(--space-1600);
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Header  */
.title-recipe {
  font-family: var(--ff-serif);
  font-size: var(--fs-preset-1);
  line-height: var(--lh-preset-1);
  font-weight: 400;
}
.p-header {
  color: var(--stone-600);
  line-height: var(--lh-preset-4);
}

/* Preparation  */
.prep {
  background-color: var(--rose-50);
  border-radius: 12px;
  padding: var(--space-300);
}

/* רשימות – יישור לקו הכותרות */
.ul-prep,
.ul-ing,
.ol-ins {
  margin: 0;
  padding-left: 1.5rem; /* או 0 אם תרצה בדיוק על הקו */
  line-height: var(--lh-preset-4);
  color: var(--stone-600);
}

/* Titles  */
.title-ing,
.title-ins,
.title-nut {
  color: var(--brown-800);
  font-family: var(--ff-serif);
  font-size: var(--fs-preset-3);
  font-weight: 700;
}

/* Table  */
.table-nut {
  width: 100%;
  border-collapse: collapse;
}
.table-nut td {
  padding: 1rem 0;
  border-bottom: 1px solid var(--stone-150);
}
.table-nut td:first-child {
  color: var(--stone-600);
}
.table-nut td:last-child {
  color: var(--brown-800);
  font-weight: 700;
  text-align: right;
}
.p-nut {
  margin: var(--space-300) 0;
}
